.container{
	width:3533px;
	background-color:blue;
	overflow-x:scroll;
}
.home{
	width: 200px;
	display: block;
	min-height:800px;
	position: fixed;
	left: 0px;
	border:dotted 1px;
	background-color: black;
	float: left;
	color:white;
}
.Biography{margin-left:185px;}

.JointheCommunity{
	width:656px;
	min-height:800px;
	border:dotted 1px;
	color:black;
	float:left;
}
#max{
	width:464px;
	height:800px;
	border:dotted 1px;
	color:black;
	float:left;
}
#min{
	width: 272px;
	height: 800px;
	border:dotted 1px;
	color:black;
	float:left;
	
}